.cta-button {
  @include paddingPx(5,20);
  @include border($color-white);
  border-radius: pxToRem(50);
  color: $color-white;
  background-color: #d469a5;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    background-color: #fa75ad;
  }
}
